@import url('https://fonts.cdnfonts.com/css/nasa');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Nasa', sans-serif;
    background-color: #001F3F; 
    background-image: url('/img/CA.PNG'); 
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
}

header {
    padding: 80px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
}

header img {
    height: 150px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    overflow: hidden; 
}

th, td {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    text-align: center;
}

tr.leve {
    background-color: rgba(224, 247, 250, 0.3); 
}

tr.moderado {
    background-color: rgba(255, 224, 178, 0.3); 
}

tr.grave {
    background-color: rgba(255, 138, 128, 0.3); 
}

.Boton {
    margin: 20px;
}

button {
    font-family: 'Nasa', sans-serif;                                           
    background-color: #ff0000; 
    color: #FFFFFF;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #C70039; 
}
footer {
    position: absolute;
    background: linear-gradient(transparent, #000000);
    bottom: 0;
    left: 0;
    right: 0;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    height: 60px;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 15px;
}

.footer-links a {
    color: #FFFFFF;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dcdcdc;
}
